<html xmlns:th="http://www.w3.org/1999/xhtml">
    <title>
        Restaurant
    </title>

    <body>
        <h1>Welcome to our restaurant!</h1>
        <p>We offer a variety of delicious dishes. Please explore our menu and enjoy your meal!</p>

       <table border="1">
           <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Location</th>
               <th>Rating</th>
               <th>cuisine</th>
               <th>Action</th>
           </tr>

           <tr th:each="restaurant : ${listRestaurants}">
               <td th:text="${restaurant.id}"></td>
               <td th:text="${restaurant.name}"></td>
               <td th:text="${restaurant.location}"></td>
               <td th:text="${restaurant.rating}"></td>
               <td th:text="${restaurant.cuisine }">></td>

               <td>
                   <a th:href="@{'/edit/' + ${restaurant.id}}">Edit</a>
                   <a th:href="@{'/delete/' + ${restaurant.id}}">Delete</a>
               </td>
           </tr>

       </table>
</body>
